
streamlit>=1.32.0

langchain>=0.1.20
langchain-core>=0.1.47
langchain-community>=0.0.33
langchain-chroma>=0.1.0
langchain-groq>=0.0.2
langchain-huggingface>=0.0.1


PyMuPDF>=1.22.0


langchain-text-splitters>=0.0.1


transformers>=4.40.0
sentence-transformers>=2.6.1


chromadb==0.4.24


protobuf==3.20.3
opentelemetry-api==1.22.0
opentelemetry-exporter-otlp-proto-grpc==1.22.0
opentelemetry-sdk==1.22.0

tqdm>=4.66.2
uvicorn[standard]>=0.27.1
